/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background: #0fb9b1;
  padding: 20px;
}

main {
  height: 102vh;
  background: url('/assets/burger-friends.jpg') no-repeat center center/cover;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30vh;
}

.content-1 {
  background: rgba(225, 225, 225, .9);
  width: 450px;
  height: 400px;
  padding: 40px;
  font-size: 18px;
}

.radio-column .radio {
  margin-top: 20px;
}

.btn-1 {
  background: #0fb9b1;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  margin-top: 20px;
}




/* Content 2 */
.content-2 {
  background: rgba(225, 225, 225, .9);
  width: 450px;
  height: 400px;
}

.content-2 .cookpot-img {
  width: 100px;
  margin: 0 auto;
  margin-top: 150px;
  display: block;

}






